.HP-Warning
{
    width: 75%;
    margin: auto;
    text-align: center;
    color: #ff4252;
    top: 30%;
    position: absolute;
    font-size: 3em;
    filter: drop-shadow(0 -10px 0 #312136) drop-shadow(0 10px 0 #312136) drop-shadow(10px 0 0 #312136) drop-shadow(-10px 0 0 #312136);
    display: none;
}
@keyframes pulse {
  50% { background: -webkit-radial-gradient(circle, RGBA(0,0,0,0), RGBA(255,0,0,0.5) 250%); }
}
.HP-warning-splash
{
    background: -webkit-radial-gradient(circle, RGBA(0,0,0,0), RGBA(255,0,0,0.3) 250%);
    animation: pulse 1s ease-in-out infinite;
}

.MP-Warning
{
    width: 75%;
    margin: auto;
    text-align: center;
    color: #3fa7dd;
    top: 30%;
    position: absolute;
    font-size: 3em;
    filter: drop-shadow(0 -10px 0 #312136) drop-shadow(0 10px 0 #312136) drop-shadow(10px 0 0 #312136) drop-shadow(-10px 0 0 #312136);
    display: none;
}
@keyframes pulse {
  50% { background: -webkit-radial-gradient(circle, RGBA(0,0,0,0), RGBA(0,0,255,0.5) 250%); }
}
.MP-warning-splash
{
    background: -webkit-radial-gradient(circle, RGBA(0,0,0,0), RGBA(0,0,0,255.3) 250%);
    animation: pulse 1s ease-in-out infinite;
}
